<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Compraloahi</title>

    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" />

    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <style>
        html{
        }
        body{
            background: url("../static/image/background.png") no-repeat center center fixed;
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
            max-height: 100%;

        }

        .container{
            overflow-y: auto;
            overflow-x: auto;
        }

        .content{
            border: 1px solid #cccccc;
            margin-top: 60px;
            padding: 15px;
            background-color: rgba(255, 255, 255, 0.90);
            -webkit-box-shadow: 0px 1px 20px 4px #252525;
	        -moz-box-shadow: 0px 1px 20px 4px #252525;
	        box-shadow: 0px 1px 20px 4px #252525;
        }

        .header{
            height: 100px;
            margin-top: -15px;
            margin-bottom: 15px;
            border-bottom: 1px solid #cccccc;
           background-color: #E5E5E5;
            text-align: center;
        }

        .logo{
            max-width: 500px;
            max-height: 80px;
            margin: 10px;
        }
        .checkbox label{
            font-size: 1.1em;
        }

        .fb-like{
            position: absolute !important;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="col-md-10 col-md-offset-1 col-xs-md-12 content">
    <div class="row header">
        <img src="/static/image/compraloahi-logo.png" class="logo" alt=""/>
        <div id="fb-root"></div>
        <div class="fb-like" data-href="https://www.facebook.com/compraloahi" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>
        {% block body_block %}
        {% endblock %}
    </div>

</div>


<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.4&appId=381267902068971";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>