{% extends 'base.html' %}
{% load bootstrap3 %}

{% block body_block %}
    <div class="col-md-6">
        <img src="/static/image/application.png" class="img-responsive" alt=""/>
        <hr/>
        <div class="col-md-12">
            <h4 style="font-weight: bold; color: #1da890;">¿Que es Compraloahí?</h4>
            <p>Somos una plataforma que combina la compra-venta a traves de internet con la compra-venta en persona.
            Donde podes buscar productos o servicios de tu interes en tus cercanias y/o publicar y gestionar los mismos. <br/>
                Disponible en web y aplicacion movil.</p>
            <hr/>
            <div style="min-width: 100%; min-height: 40px;">
                <i class="pull-left"> <img src="/static/image/android.png" alt="50" style="height: 40px;"/></i>
            <i class=" pull-left"> <img src="/static/image/apple.png" alt="50" style="height: 40px;"/></i>
            <a class="btn btn-success pull-right" href="/que-es/" style="background-color: #1da890">¿Como funciona?</a>
                </div>
            <hr/>
        </div>
    </div>
    <div class="col-md-6">
        <h4 class="text-center" style="font-weight: bold; color: #1da890;">¿Queres saber mas de Compraloahí?</h4>
        <hr/>
        <h5>Ingresa tu email para mas informacion y enterate de las ultimas novedades</h5>
        {% bootstrap_messages %}
        <form action="" method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <div style="min-width: 100%; min-height: 40px;">
                <button type="submit" class="btn btn-primary pull-right" style="background-color: #6E63b4">
                         Registrarme
                    </button>
                </div>

            {% endbuttons %}
        </form>

        <div class="col-md-12 row">
            <hr/>
            <h4 style="margin-top: 50px; color: #122b40;">¿Te intereso el proyecto?  Ayudanos a mejorarlo haciendo la siguiente escuesta.</h4>
            <ul class="list-form">
                <li><a href="http://goo.gl/forms/TiKgKqXIui" target="_blank"><i class="glyphicon glyphicon-th-list"></i> Para comerciantes</a> </li>
                <li><a href="http://goo.gl/forms/cyuaei1sOq" target="_blank"><i class="glyphicon glyphicon-th-list"></i> Para usuarios</a></li>
            </ul>
        </div>
    </div>

    <style>
        .list-form{
            list-style: none;
        }
        .list-form li{
            margin: 15px;
        }

        .list-form li a{
            color: #0ba0bb;
            font-weight: 700;
            text-decoration-style: solid;
        }

        .list-form li a:hover{
            color: #1da890;
            text-decoration: none;
            font-weight: 900;
        }

    </style>
{% endblock %}