{% extends 'base.html' %}
{% load bootstrap3 %}



{% block body_block %}
    <img src="/static/image/compraloahi-que-hace.png" class="img-responsive" alt=""/>
    <div style="min-height: 40px; min-width: 100%;">
        <a class="btn btn-default pull-right btn-success" href="/" style="margin-top: 15px; background-color: #1da890">Volver a la pagina principal</a>
        <a href="http://www.freepik.com" style="position: absolute; bottom: 0; font-size: 8px;">Designed by Freepik</a>

    </div>
    <style>
    body{

        background-image: none !important;
        background-color: #d0e3c1;
        /*background-image: url("../static/image/background-pattern.png");*/
        background-size: auto;
        }
</style>
{% endblock %}