{% extends 'base.html' %}
{% load bootstrap3 %}

{% block body_block %}

    <div class="col-md-12">
        <h3 class="text-center">Te has registrado con exito para recibir las ultimas novedades de compraloahi</h3>
        <a href="/" class="btn btn-success pull-right">Volver a la pagina principal</a>
    </div>

{% endblock %}